language: python
python:
  - "2.7"
sudo: false
branches:
  except:
    - master
  only:
    - gh-pages
install:
  - git clone --depth=1 --branch=master https://github.com/tabatkins/bikeshed.git ./bikeshed
  - pip install pygments
  - pip install --editable ./bikeshed
  - bikeshed update
  - git clone --depth=1 --branch=gh-pages https://github.com/adrianba/sample-spec-draft.git ./draft
script:
  bikeshed spec sample.bs ./draft/sample.html
after_success:
  cd ./draft
  git add sample.html
  git commit -m "Update"
  git status
